@import url(header.css);
@import url(footer.css);
@import url(./components/upbutton.css);
@import url(./components/timeline.css);

* {
    box-sizing: border-box;
    font-family: Roboto, "Lucida Sans Unicode", sans-serif;
  }
body {
    background-color: #474e5d;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
section {
    padding: 20px;
}
#education {
  padding-bottom: 250px;
}
.box {
  background-color: #ffffff; /* Weißer Hintergrund */
  padding: 20px; /* Innenabstand für den Container */
  border: 1px solid #ccc; /* Rahmen um den Container */
  margin: 10px; /* Außenabstand für den Container */
  border-radius: 10px;
}

.box h2 {
  font-size: 1.5em; /* Überschriftsgröße anpassen */
}

.box ul {
  list-style-type: disc; /* Listenpunktstil */
  margin-left: 20px; /* Einzug für Listenpunkte */
}

.box li {
  margin-bottom: 5px; /* Abstand zwischen Listenpunkten */
}







